In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [2]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series_from_list = pd.Series(my_list)
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
Q3. Create a Pandas DataFrame that contains the following data:

In [4]:
data = {
    'Name': ['Sunit', 'AMit', 'Cherry'],
    'Age': [25, 30, 35],
    'City': ['Pune', 'Mumbai', 'Nagpur']
}

df = pd.DataFrame(data)
print(df)

     Name  Age    City
0   Sunit   25    Pune
1    AMit   30  Mumbai
2  Cherry   35  Nagpur

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [5]:
s = pd.Series([1, 2, 3, 4, 5])
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
head(): Returns the first n rows of the DataFrame.
tail(): Returns the last n rows of the DataFrame.
describe(): Generates descriptive statistics of the DataFrame.
drop(): Drops specified labels from rows or columns.
groupby(): Groups the DataFrame using a mapper or by a Series of columns.
merge(): Merge DataFrame objects by performing a database-style join operation.

In [ ]:

# Creating a DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

# Using head() to get the first 2 rows
print(df.head(2))

# Using describe() to get descriptive statistics
print(df.describe())

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Series: Mutable
DataFrame: Mutable
Panel: Deprecated as of pandas version 0.25.0

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [6]:
# Creating Series
names = pd.Series(['Alice', 'Bob', 'Charlie'])
ages = pd.Series([25, 30, 35])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago'])

# Creating DataFrame using multiple Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'City': cities})
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago